<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<header>
		<nav th:replace="fragments/menu :: menu"></nav>
	</header>
	<main>
	<form class="form" name="form" th:object="${form}" th:action="@{/home/volume}" method="post">
		<div class="container pt-3">
			<div th:replace="home/fragments/hasMessage :: hasMessage"></div>
			<div class="row">
				<div class="col jumbotron mb-3 p-3">
					<h2>Volumes</h2>
					<p class="lead">Show comics volumes statistics.</p>
				</div>
			</div>
			<div class="row mb-4 p-1 border-top border-bottom">
				<div class="flex-grow-1" th:text="${count == 1}? '1 volume': ${count + ' volumes'}"></div>
				<!-- <div><a th:href="@{/home/volumes(view='list',publisher='*')}"><i class='fas fa-list'></i></a>  <a th:href="@{/home/volumes(view='grid',publisher='*')}"><i class='fas fa-th-large'></i></a></div> -->
			</div>

			<table class="table table-bordered table-sm table-hover mb-0">
				<thead class="thead-light">
					<tr>
						<th th:replace="home/fragments/th :: th(columnName='volumePublisher',columnAlias='Publisher')">...</th>
						<th>
						<th th:replace="home/fragments/th :: th(columnName='volumePublisherName',columnAlias='Name')">...</th>
						<th>Count</th>
						<th>Count</th>
						<th>Count</th>
						<th>Count</th>
						<th>Count</th>
						<th></th>
					</tr>
					<tr>
						<th>
						<th>
						<th>
						<th><small>TOTAL</small></th>
						<th><small>Manual</small></th>
						<th><small>Auto</small></th>
						<th><small>Pending</small></th>
						<th><small>Error</small></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="clickable" th:each="volumestats : ${page}">
						<td th:text="${volumestats.volumestatsPublisher}">
						<td class="text-nowrap">
							<a th:href="@{/home/volumes(view='list',publisher=${volumestats.volumestatsPublisher})}"><i class='fas fa-list'></i></a>
							<a th:href="@{/home/volumes(view='grid',publisher=${volumestats.volumestatsPublisher})}"><i class='fas fa-th-large'></i></a> 
						<td class="text-nowrap" th:text="${volumestats.volumestatsPublisherName}">
						<td class="text-right" th:text="${volumestats.volumestatsCount}">
						<td class="text-right" th:text="${volumestats.volumestatsCount-volumestats.volumestatsCountCreatedFromArc}">
						<td class="text-right" th:text="${volumestats.volumestatsCountCreatedFromArc}">
						<td class="text-right" th:text="${volumestats.volumestatsCountDateLastUpdatedNull}">
						<td class="text-right" th:text="${volumestats.volumestatsCountError}">
						<td class="w-100">
							<div class="progress">
								<div class="progress-bar" role="progressbar" th:style="${'width: ' + (volumestats.volumestatsCount * 100) / count + '%'}" aria-valuenow="${volumestats.volumestatsCount}" aria-valuemin="0" aria-valuemax="100" th:text="${(volumestats.volumestatsCount * 100) / count + '%'}"></div>
							</div>
					</tr>
				</tbody>
				<thead class="thead-light">
					<tr>
						<th>
						<th class="text-nowrap">
							<a th:href="@{/home/volumes(view='list',publisher='*')}"><i class='fas fa-list'></i></a>
							<a th:href="@{/home/volumes(view='grid',publisher='*')}"><i class='fas fa-th-large'></i></a> 
						<th>TOTAL</th>
						<th class="text-right" th:text="${count}">
						<th>
						<th>
						<th>
						<th>
						<th>
					</tr>
				</thead>
			</table>
		</div>
	</form>
	</main>
	<div th:replace="fragments/script :: script">...</div>
</body>
</html>