<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="app/fragments/head :: head"></head>
<body>
	<header><nav th:replace="app/fragments/menu :: menu"></nav></header>
	<div class="container-fluid">
	<form class="form" name="accForm" th:object="${account}" th:action="@{/app/{bdgUUID}/account(bdgUUID=${bdg.bdgUUID})}" method="post">

		<div th:replace="/app/fragments/hasErrors :: hasErrors"></div>
		<div th:replace="/app/fragments/hasMessage :: hasMessage"></div>
		<div id="ajaxErrors"></div>

		<div class="row flex-fill">

			<div th:replace="app/fragments/accountsNavigation :: accounts"></div>

			<div class="col-9">
				<div class="btn-toolbar mt-3" role="toolbar" aria-label="Toolbar with button groups">
					<div class="btn-group me-1" role="group">
						<button type="submit" name="SaveAndClose" class="btn btn-outline-primary btn-sm"><i class="bi bi-send-x"></i> Save and Close</button>
					</div>
					<div class="btn-group me-1" role="group">
						<button type="submit" name="SaveAndAddAnother" class="btn btn-outline-primary btn-sm"><i class="bi bi-send-plus"></i> Save and Add Another</button>
					</div>
					<div class="btn-group me-1" role="group">
						<button type="submit" name="Close" class="btn btn-outline-primary btn-sm"><i class="bi bi-x-circle"></i> Close</button>
					</div>
				</div>

				<div class="card bg-light mt-3">
					<div class="card-header py-2"><strong>Add Account</strong></div>
					<div class="card-body">
					
						<div class="row mb-2">
							<label for="accName" class="col-2 col-form-label">Name</label>
							<div class="col-6">
								<input type="text" class="form-control" th:field="*{accName}" th:errorclass="is-invalid">
								<div class="invalid-feedback" th:if="${#fields.hasErrors('accName')}">
									<ul>
										<li th:each="err : ${#fields.errors('accName')}" th:text="${err}" />
									</ul>
								</div>
							</div>
						</div>

						<div class="row mb-2">
							<label for="accType" class="col-2 col-form-label">Type</label> 
							<div class="col-3">
								<select class="form-select" th:field="*{accType}" th:errorclass="is-invalid">
									<option th:each="acct : ${acctList}" 
											th:value="${acct.acctID}" 
											th:text="${acct.acctName}"></option>
								</select>
								<div class="invalid-feedback" th:if="${#fields.hasErrors('accType')}">
									<ul>
										<li th:each="err : ${#fields.errors('accType')}" th:text="${err}" />
									</ul>
								</div>
							</div>						
						</div>
						
						<div class="row mb-2">
							<label for="accBalance" class="col-2 col-form-label">Current Balance</label>
							<div class="col-3">
								<input th:if="${bdg.bdgCurrencyPlacement == 0}" type="text" class="form-control" th:field="*{accBalance}" th:errorclass="is-invalid"
									th:attr="data-inputmask=${'
										''alias'':''currency'', 
										''digits'':''__${bdg.bdgNumberFormat.bdgnDecimalDigits}__'',
										''radixPoint'':''__${bdg.bdgNumberFormat.bdgnDecimalSeparator}__'',
										''groupSeparator'':''__${bdg.bdgNumberFormat.bdgnGroupSeparator}__''
										'}">
								<input th:if="${bdg.bdgCurrencyPlacement == 1}" type="text" class="form-control"th:field="*{accBalance}" th:errorclass="is-invalid"
									th:attr="data-inputmask=${'
										''alias'':''currency'', 
										''prefix'': ''__${bdg.bdgCurrency.ccySymbol}__ '', 
										''digits'':''__${bdg.bdgNumberFormat.bdgnDecimalDigits}__'',
										''radixPoint'':''__${bdg.bdgNumberFormat.bdgnDecimalSeparator}__'',
										''groupSeparator'':''__${bdg.bdgNumberFormat.bdgnGroupSeparator}__''
										'}">
								<input th:if="${bdg.bdgCurrencyPlacement == 2}" type="text" class="form-control" th:field="*{accBalance}" th:errorclass="is-invalid"
									th:attr="data-inputmask=${'
										''alias'':''currency'', 
										''suffix'': '' __${bdg.bdgCurrency.ccySymbol}__'', 
										''digits'':''__${bdg.bdgNumberFormat.bdgnDecimalDigits}__'',
										''radixPoint'':''__${bdg.bdgNumberFormat.bdgnDecimalSeparator}__'',
										''groupSeparator'':''__${bdg.bdgNumberFormat.bdgnGroupSeparator}__''
										'}">
								<div class="invalid-feedback" th:if="${#fields.hasErrors('accBalance')}">
									<ul>
										<li th:each="err : ${#fields.errors('accBalance')}" th:text="${err}" />
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>

			</div>

		</div>
	</form>
	</div>

	<div th:replace="app/fragments/script :: script">...</div>
	<div th:replace="app/fragments/script_input :: script">...</div>
</body>
</html>