<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="app/fragments/head :: head"></head>
<body>
	<header><nav th:replace="app/fragments/menu :: menu"></nav></header>
	<div class="container-fluid">
		<div class="row flex-fill">
			<div class="col">
				<div class="jumbotron">
					<h1 class="display-4">Reports</h1>
					<p class="lead">Under construction.</p>
				</div>
			</div>

		</div>
	</div>

	<div th:replace="app/fragments/script :: script">...</div>
</body>
</html>
