<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><i class="bi bi-compass"></i> Mancinelli</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link active" href="#" th:text="${bdg.bdgName}"></a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/app/{bdgUUID}/budget(bdgUUID=${bdg.bdgUUID})}">Budget</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Transactions</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Accounts</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Payees</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
			</ul>
			<form class="d-flex form-inline mb-0 mx-1" sec:authorize="!isAuthenticated()" action="#" th:action="@{/app}" method="get">
				<button class="btn btn-light" type="submit"><i class="bi bi-door-open"></i> Login</button>
			</form>
			<form class="d-flex form-inline mb-0 mx-1" sec:authorize="isAuthenticated()" action="#" th:action="@{/logout}" method="post">
				<button class="btn btn-light" type="submit"><i class="bi bi-door-closed"></i> Logout</button>
			</form>
		</div>
	</div>
</nav>

</html>