<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<header>
		<nav th:replace="fragments/menu :: menu"></nav>
	</header>
	<main>
	<form class="form" name="form" th:object="${form}" th:action="@{/home/form}" method="post">
		<div class="container pt-3">
			<div th:replace="home/fragments/hasMessage :: hasMessage"></div>
			
			<table class="table table-bordered table-sm mb-0">
				<thead class="thead-light">
					<tr>
						<th th:text="budgetName"></th>
						<th th:text="budgetUUID"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="clickable" th:each="budget : ${budgets}">
						<td><span><a th:href="@{/{uuid}/budget (uuid=${budget.budgetUUID})}"><i class="far fa-arrow-alt-circle-right text-secondary"></i></a></span> <span th:text="${budget.budgetName}"></span></td>
						<td class="text-secondary" th:text="${budget.budgetUUID}"></td>
					</tr>
				</tbody>
			</table>

		</div>
	</form>
	</main>
	<div th:replace="fragments/script :: script">...</div>
</body>
</html>