<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/fragments/head :: head"></head>
<body>
	<header><nav th:replace="home/fragments/menu-brand :: menu"></nav></header>
	<main>
		<div class="container">
				<form class="form" name="trialForm" action="#" th:object="${user}" th:action="@{/trial}" method="post">
				<div class="row pt-3" th:if="${action} != 'none'">
					<div class="col-6 p-4 bg-light">
						<h1>Try Budgets Free For 60 Days</h1>
						<p class="lead">The budgets saves your money in their first months. Choose your plan after your trial:</p>
						<br>
						<h5>Monthly Plan</h5>
						<h4>$7.00/month</h4>
						<p>Billed monthly. Cancel.</p>
						<br>
						<h5>Annual Plan $14 savings</h5>
						<h4>$70.00/year</h4>
						<p>One-time payment, billed annually. Cancel anytime.</p>
					</div>
					<div class="col-6 p-4">
						<h3>Start Your Free Trial Today</h3>
						<p><strong>No credit card required!</strong></p>

<!-- 
						<div th:replace="home/fragments/hasErrors :: hasErrors"></div>
						<div th:replace="home/fragments/hasMessage :: hasMessage"></div>
						<div id="ajaxErrors"></div>
 -->

						<div class="card bg-light">
	 						<div class="card-header">Sign Up</div>
							<div class="card-body">
								<div class="mb-3">
									<input type="text" class="form-control" th:field="*{usrEmail}" id="usrEmail" name="usrEmail" th:errorclass="is-invalid">
									<div class="invalid-feedback" th:if="${#fields.hasErrors('usrEmail')}">
										<ul>
											<li th:each="err : ${#fields.errors('usrEmail')}" th:text="${err}" />
										</ul>
									</div>
									<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
								</div>
								<div class="mb-3">
									<input type="password" class="form-control" th:field="*{usrPassword}" id="usrPassword" name="usrPassword" th:errorclass="is-invalid">
									<div class="invalid-feedback" th:if="${#fields.hasErrors('usrPassword')}">
										<ul>
											<li th:each="err : ${#fields.errors('usrPassword')}" th:text="${err}" />
										</ul>
									</div>
									<div id="passwordHelpBlock" class="form-text">Your password must be 8-20 characters long.</div>
								</div>
							</div>
							<div class="card-footer bg-transparent">
								<div class="btn-toolbar justify-content-end" role="toolbar">
									<div class="btn-group m-1" role="group">
										<button type="submit" class="btn btn-outline-primary">Start Trial</button></div>
								</div>
							</div>
						</div>
					</div>				
				</div>
			</form>
		</div>
		<footer></footer>
	</main>
	<div th:replace="home/fragments/script :: script">...</div>
</body>
</html>