<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="home/fragments/head :: head"></head>
<body>
	<header><nav th:replace="home/fragments/menu :: menu"></nav></header>
	<div class="container">
		<div class="row pt-3">
			<div class="col">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">Home</li>
					</ol>
				</nav>
				<div class="jumbotron">
					<h1>Welcome!</h1>
					<p>You are about to be a expert budgeter<p>
					<p>But first we need you to answer a few quick questions so we can help you get there.</p>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="home/fragments/script :: script">...</div>
</body>
</html>