<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<header>
		<nav th:replace="fragments/menu :: menu"></nav>
	</header>
	<main>
	<form class="form" name="form" th:object="${form}" th:action="@{/home/arc}" method="post">
		<div class="container pt-3">
			<div th:replace="home/fragments/hasMessage :: hasMessage"></div>
			<div class="row">
				<div class="col jumbotron mb-3 p-3">
					<h2>Arcs</h2>
					<p class="lead">Show arcs in database.</p>
					<a href="/home/arc/add" class="btn btn-primary btn-sm">Add arc</a>
					<a th:replace="home/fragments/buttonPageSize :: buttonPageSize">...</a>
					<div th:replace="home/fragments/buttonPageSize :: buttonPageList">...</div>
				</div>
			</div>
			<div class="row mb-4 p-1 border-top border-bottom">
				<div class="flex-grow-1" th:text="${pageCount == 1}? '1 arc': ${pageCount + ' arcs'}"></div>
				<div><i class='fas fa-list'></i>  <a th:href="@{${pageRedirect}(page=${page.number},view='grid',index=${index},searchText=${searchText},size=${page.size})}"><i class='fas fa-th-large'></i></a></div>
			</div>
			<div th:replace="home/fragments/tableIndex :: tableIndex">...</div>

			<table class="table table-bordered table-sm table-hover mb-0">
				<thead>
					<tr>
						<th th:replace="home/fragments/thID :: th(columnName='arcID',columnAlias='ID')">...</th>
						<th/>
						<th th:replace="home/fragments/th :: th(columnName='arcName',columnAlias='Name')">...</th>
						<th th:replace="home/fragments/th :: th(columnName='arcCountOfIssueAppearancess',columnAlias='Issues')">...</th>
						<th>Files</th>
						<th th:replace="home/fragments/th :: th(columnName='arcPublisher',columnAlias='Publisher')">...</th>
						<th th:replace="home/fragments/th :: th(columnName='arcDateAdded',columnAlias='Date Added')">...</th>
						<th th:replace="home/fragments/th :: th(columnName='arcDateLastUpdated',columnAlias='Date Last Updated')">...</th>
					</tr>
				</thead>
				<tbody>
					<tr class="clickable" th:each="arc : ${page}">
						<th scope="row"><a th:href="@{/home/arc/{id}(id=${arc.arcID})}" th:text="${arc.arcID}"></a>
						<td><a target="_blank" th:href="@{${arc.arcSiteDetailURL}}"><i class='fas fa-globe-americas'></i></a>
						<td th:text="${arc.arcName}">
						<td th:text="${#lists.size(arc.arcIssues)}">
						<td><div class="progress">
								<div class="progress-bar" th:classappend="${arc.arcIssueFilePercent == 100}? 'bg-success'" role="progressbar" th:style="${'width: ' + arc.arcIssueFilePercent + '%'}" aria-valuenow="${arc.arcIssueFilePercent}" aria-valuemin="0" aria-valuemax="100" th:text="${arc.arcIssueFilePercent + '%'}"></div>
							</div> 
						<td><small th:text="${arc.arcPublisher != null}? ${#strings.toString(arc.arcPublisher.publisherName)}"></small>
						<td><small th:text="${#dates.format(arc.arcDateAdded, 'yyyy-MM-dd HH:mm')}"></small>
						<td><small th:text="${#dates.format(arc.arcDateLastUpdated, 'yyyy-MM-dd HH:mm')}"></small>
					</tr>
				</tbody>
			</table>
			<div th:replace="home/fragments/pagination :: pagination(entityCount=#{pageCount})">...</div>
		</div>
	</form>
	</main>
	<div th:replace="fragments/script :: script">...</div>
</body>
</html>