<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="error/fragments/head :: head"></head>
<body>
	<header><nav th:replace="error/fragments/menu :: menu"></nav></header>
	<div class="container">
		<div class="row pt-3">
			<div class="col">
				<div class="jumbotron">
					<h1 class="display-1 m-3"><i class="bi bi-robot"></i></h1>
					<h2 class="m-3">Oh no!</h2>
					<h5 class="m-3">Something's wrong</h5>
					<h6 class="m-3">400 Bad Request</h6>
					<p class="m-3"><small><em>We're looking to see what happened</em></small></p>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="error/fragments/script :: script">...</div>
</body>
</html>

